<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WMSU | Online Canteen</title>

    <!-- Favicon -->

    <!-- Include CSS files -->
    <link rel="shortcut icon" href="<?= PATH_IMAGES.'n_logo.png'; ?>" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/backend-plugin.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/backend.css')}}">

    <link rel="stylesheet"
        href="{{ url_for('static',filename='assets/css/vendor/@fortawesome/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static',filename='assets/css/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/vendor/remixicon/fonts/remixicon.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/login_style.css')}}">

    <!-- <script src="<?= PATH_JPLUGINS.'jquery-3.5.1.js'?>"></script>  -->

<body class="  ">

    <!-- loader Start -->
    <!-- <div id="loading">
                <div id="loading-center"></div>
            </div> -->
    <!-- loader END -->

    <!-- Wrapper Start -->
    <div class="wrapper">

        <!-- [INCLUDE - SIDEBAR MENU] -->

        <div class="iq-sidebar  sidebar-default " id="mySidebar">
            <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
                <a href="page_customer_foodslist.php" class="header-logo">
                    <img src="{{ url_for('static',filename='site_assets/img/n_logo.png')}}"
                        class="img-fluid rounded-normal light-logo" alt="logo">
                    <h5 class="logo-title light-logo m-1">Dashboard</h5>
                </a>
                <div class="iq-menu-bt-sidebar ml-0">
                    <i class="las la-bars wrapper-menu"></i>
                </div>
            </div>

            <div class="data-scrollbar" data-scroll="1">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class=" "  onmouseover="this.style.background='#ed1818'; this.style.color='white'" onmouseout="this.style.background='none'; this.style.color='black'">
                            <form id="contact-form" name="contact-form" action="/errand_dashboard" method="POST">
                                <input hidden name="errand_id" class="pull-right" value="{{errand.id}}">
                                <span class="ml-4"> <button type='submit' style="background:none;border:none">
                                   Order <small style="color:red">{{track1}}</small>
                                   </button></span>
                            </form>
                         
                        </li>

                        <li class=" " >
                        <li class=" " onmouseover="this.style.background='#ed1818'; this.style.color='white'" onmouseout="this.style.background='none'; this.style.color='black'">
                            <form id="contact-form" name="contact-form" action="/errand_remittance_cut" method="POST">
                                <input hidden name="errand_id" class="pull-right" value="{{errand.id}}">
                               
                              
                           
                                
                                <span class="ml-4"> <button type='submit' style="background:none;border:none">
                                   Remittance </p>
                                   </button></span>

                            
                           
                           
                           
                            </form>
                        </li>

                        <li class=" " onmouseover="this.style.background='#ed1818'; this.style.color='white'" onmouseout="this.style.background='none'; this.style.color='black'">
                            <form id="contact-form" name="contact-form" action="/errand_sales" method="POST">
                                <input hidden name="errand_id" class="pull-right" value="{{errand.id}}">
                               
                              
                          
                               

                                <span class="ml-4"> <button type='submit' style="background:none;border:none">
                                   Sales
                                   </button></span>

                              
                           
    
                            </form>
                        </li>
                        <li class=" " onmouseover="this.style.background='#ed1818'; this.style.color='white'" onmouseout="this.style.background='none'; this.style.color='black'">       
                            
                              
                                <span class="ml-4"> <button id="logout" style="background:none;border:none">
                                  Logout
                                   </button></span>

                          

                        </li>
                    </ul>
                </nav>
                <div class="p-3"></div>
            </div>

        </div>
        <!-- [INCLUDE - TOPBAR MENU] -->

        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                        <i class="ri-menu-line wrapper-menu"></i>
                        <a href="#" class="header-logo" onclick="toggleSidebar()">
                            <img src="{{ url_for('static',filename='site_assets/img/n_logo.png')}}" class="img-fluid rounded-normal" alt="logo">
                            <h5 class="logo-title ml-3">WMSU - Online Canteen</h5>

                        </a>
                    </div>
                   
                    <div class="iq-search-bar device-search"></div>
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-label="Toggle navigation">
                            <i class="ri-menu-3-line"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-list align-items-center" id="cart_reload">
                                {{errand.first_name}}
                                <li class="nav-item nav-icon dropdown caption-content">
                                    <form id="contact-form" name="contact-form" action="/errand_profile" method="POST">
                                        
                                        <input hidden name="vendor_id" class="pull-right" value="{{errand.id}}">
                                       
                                        <button type='submit' style="background:none;border:none">
                                            <img src="{{errand.image_url}}" width="50px" height="50px" class="card-img-top" alt="">
                                           </button>

                                      </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>




        
        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                
                    <div class="col-sm-12">
                        <div class="card shadow-bottom shadow-showcase">
                            <div class="card-header d-flex justify-content-between" style="color: #FFF; background-color: #DC143C !important;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                <div class="header-title">
                                    <h4 class="card-title">Remittance</h4>
                                </div>
                                <h3><i class="ri-settings-5-fill"></i></h3>
                            </div>
                            <div id="cash" class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <div class="table-responsive rounded mb-3">
                                            <table id="remit1" class="data-tables table mb-0 tbl-server-info table-hover shadow-bottom shadow-showcase" id="vendor_table">
                                                <thead class="bg-white text-uppercase">
                                                    <tr class="ligth ligth-data">
                                                        <th  class="text-left">Track No.</th>
                                                        <th  class="text-center">Customer Name</th>
                                                        <th  class="text-center">Total Payment</th>
                                                        <th  class="text-center">Type Payment</th>
                                                        <th  class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="ligth-body">
                                                    
                                                    <tr>
                                                        <td class="text-center">
                                                            {{track.track_no}}
                                                        </td>
                                                        <td  class="text-center">{{customer.first_name}} {{customer.last_name}}</td>
                                                        <td  class="text-center">{{total_sum}}</td>
                                                        <td  class="text-center">
                                                      <form id="contact-form" name="contact-form" action="/remit" method="POST">
                                                            <div class="form-group">
                                                                <select id="pay" name="payment" class="form-control" required>
                                                                    <option value="" disabled selected>Select</option>
                                                                    <option value="cash">Cash</option>
                                                                    <option value="gcash">Gcash</option>
                                                                </select>
                                                        </td>
                                                        <td  class="text-center">
                                                          
                                                                <input hidden name="track_no" class="pull-right" value="{{track.track_no}}">
                                                                <input hidden name="errand_id" class="pull-right" value="{{errand.id}}">
                                                                <input hidden name="delivery_fee" class="pull-right" value="{{df}}">


                                                            
                                                            <button onclick="recieved_money()" 
                                                                id="bttn_confirm_pass" 
                                                                name="bttn_confirm_pass" 
                                                                type="submit" 
                                                                class="btn btn-danger btn-sm mr-2">
                                                                
                                                                <b>Remit Money</b> <i class="ri-hand-coin-fill"></i>
                                                            </button>
                                                      
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input hidden id="remit_msg" class="pull-right" value="{{msg}}">

                                            <table id="remit_done"  hidden class="data-tables table mb-0 tbl-server-info table-hover shadow-bottom shadow-showcase" id="vendor_table">
                                                <thead class="bg-white text-uppercase">
                                                    <tr class="ligth ligth-data">
                                                        <th  class="text-left">Track No.</th>
                                                        <th  class="text-center">Vendor Name</th>
                                                        <th  class="text-center">Total Payment</th>
                                                        <th  class="text-center">Type Payment</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody class="ligth-body">
                                                    {% for remits in remits %} 
                                                    <tr>
                                                        <td class="text-center">
                                                           {{remits.track_no}}
                                                        </td>
                                                        <td  class="text-center">{{remits.vendor_name}}</td>
                                                        <td  class="text-center">{{remits.total}}</td>
                                                        <td  class="text-center">{{remits.payment}}</td>
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div hidden id="gcash" class="col-lg-12" id="gcash_payment" >
                                <div class="card shadow-bottom shadow-showcase">
                                    <div class="card-header d-flex justify-content-between" style="color: #FFF; background-color: #DC143C !important;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                        <div class="header-title">
                                            <h4 class="card-title">GCASH</h4>
                                        </div>
                                        <h3><i class="ri-settings-5-fill"></i></h3>
                                    </div>
                                    <div class="card-body">
                                            <div class="col-md-8">                      
                                                <div class="form-group">
                                                    <label>Reference No. *</label>
                                                    <input id="ref_no" name="ref_no" type="number" value="0" class="form-control" placeholder="Enter Reference Number" 
                                                    autocomplete="off" data-errors="Please Enter Reference Number." required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">                      
                                                <div class="form-group">
                                                    <label>G-CASH Amount *</label>
                                                    <input id="gcash_amount" name="gcash_amount" type="number" value="0" class="form-control" placeholder="Enter G-CASH Amount" 
                                                    autocomplete="off" data-errors="Please Enter G-CASH Amount." required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <hr>	
                                           															
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page end  -->
            </div>
        </div>
    </div>

    <!-- [INCLUDE - FOOTER] -->

</body>

</html>

<script>
    var dropdown = document.getElementById("pay");
    var remit_msg = document.getElementById("remit_msg");
    var gcash = document.getElementById("gcash");
    
    dropdown.addEventListener("change", function () {
        if (dropdown.value === "gcash") {
            gcash.hidden = false;

        } 
        else {
            gcash.hidden = true;
           

        } 
       
    });

    if (remit_msg.value === "remitted") {
        remit_done.hidden = false;
        remit1.hidden = true;

    } 
   
</script>
<script>
    function toggleSidebar() {
        var sidebar = document.getElementById('mySidebar');
        sidebar.classList.toggle('iq-sidebar');
    }
</script>